
#lpl-body{
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#lpl-cover{
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url(asset/cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#lpl-title{
    position: absolute;
    left: 120px;
    top: 10px;
    font-weight: 600;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
#lpl-title::selection{
    color: rgb(255, 255, 255);
    background: rgba(233, 81, 147, 0.7);
}
#lpl-artist{
    position: absolute;
    left: 120px;
    top: 40px;
    font-size: 15px;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
}
#lpl-artist::selection{
    color: rgb(255, 255, 255);
    background: rgba(233, 81, 147, 0.7);
}
#lpl-album{
    position: absolute;
    left: 120px;
    top: 60px;
    font-size: 15px;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
}
#lpl-album::selection{
    color: rgb(255, 255, 255);
    background: rgba(233, 81, 147, 0.7);
}
#lpl-duration{
    position: absolute;
    right: 5px;
    top: 70px;
    font-size: 15px;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
}
#lpl-duration::selection{
    color: rgb(255, 255, 255);
    background: rgba(233, 81, 147, 0.7);
}
#lpl-control:hover{
    opacity: 1;
}
#lpl-control{
    transition: opacity 0.3s;
    opacity: 0;
    position: absolute;
    left: 100px;
    top: 0;
    width: calc(100% - 100px);
    height: 100px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4) 0,rgba(255,255,255,0.7) 50%,rgba(255, 255, 255, 0.4) 100%);
}
    .lpl-control-button{
        transition: all 0.3s;
        position: absolute;
        width: 30px;
        top: 35px;
        height: 30px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .lpl-control-button:hover{
        opacity: 0.7;
    }
    .lpl-control-button:active{
        width: 24px;
        height: 24px;
        top: 38px;
        left: calc(inherit + 3px)
    }
    .lpl-control-play{
        left: 30px;
        background-image: url(asset/icons/black/play.svg);
    }
    .lpl-control-previous{
        left: 90px;
        background-image: url(asset/icons/black/previous.svg);
    }
    .lpl-control-order{
        left: 130px;
        background-image: url(asset/icons/black/repeat.svg);
    }
    .lpl-control-next{
        left: 170px;
        background-image: url(asset/icons/black/next.svg);
    }
    .lpl-control-volume{
        left: 210px;
        background-image: url(asset/icons/black/volume.svg);
    }
    .lpl-control-list{
        right: 20px;
        background-image: url(asset/icons/black/list.svg);
    }
    #lpl-control-volumeController:hover{
        opacity: 0.7;
    }
    #lpl-control-volumeController{
        transition: all 0.3s;
        position: absolute;
        top: 45px;
        left: 250px;
        width: 100px;
        height: 10px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.5);
    }
        .lpl-control-volumeController-progress{
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            border-radius: 5px;
            background-color: rgba(233,81,147,0.7);
        }
        .lpl-control-volumeController-progressThumb{
            position: absolute;
            left: 50%;
            border: 8px solid rgb(233, 81, 147);
            border-radius: 50%;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
            transform: translate(-8px,-3px);
        }

#lpl-control-progressBar:hover{
    opacity: 0.7;
}
#lpl-control-progressBar{
    transition: all 0.3s;
    position: absolute;
    left: 100px;
    bottom: 0;
    width: calc(100% - 100px);
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}
    .lpl-control-progressBar-progress{
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-color: rgba(233,81,147,0.7);
    }
    .lpl-control-progressBar-progressThumb{
        position: absolute;
        left: 50%;
        border: 8px solid rgb(233, 81, 147);
        border-radius: 50%;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
        transform: translate(-8px,-3px);
    }

#lpl-list{
    transition: height 1s;
    position: absolute;
    top: 100px;
    left: 0;
    height: calc(100% - 100px);
    width: 100%;
    overflow-y: scroll;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
    .lpl-list-item{
        overflow: visible;
        position: relative;
        height: 30px;
        width: 100%;
        background-color: rgb(255, 255, 255);
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }
        .lpl-list-item-num{
            position: absolute;
            left: 10px;
            top: 2px;
            font-size: 26px;
            color: rgba(0, 0, 0, 0.5);
        }
        .lpl-list-item-title{
            z-index: 1;
            position: absolute;
            left: 60px;
            top: 2px;
            font-size: 26px;
            color: rgb(0, 0, 0);
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        }
        .lpl-list-item-artist{
            z-index: 1;
            position: absolute;
            right: 10px;
            top: 2px;
            font-size: 26px;
            color: rgba(0, 0, 0, 0.7);
        }
        .lpl-list-item-num::selection{
            color: rgb(255, 255, 255);
            background: rgba(233, 81, 147, 0.7);
        }
        .lpl-list-item-title::selection{
            color: rgb(255, 255, 255);
            background: rgba(233, 81, 147, 0.7);
        }
        .lpl-list-item-artist::selection{
            color: rgb(255, 255, 255);
            background: rgba(233, 81, 147, 0.7);
        }
llyric{
    height: inherit;
    width: inherit;
    position: fixed;
    overflow: hidden;
}
    #llyricList{
        transition: all 0.3s;
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
    }
        .llyricText{
            text-align: center;
            color: black;
            text-shadow: 1px 1px 4px black;
            font-size: 20px;
            position: relative;
            width: 100%;
            height: 50px;
        }
        .llyricText::selection{
            color: rgb(255, 255, 255);
            background: rgba(233, 81, 147, 0.7);
        }
        .llyricText.selected{
            font-size: 30px;
            color: rgba(233, 81, 147, 0.7);
            text-shadow: 1px 1px 10px rgba(233, 81, 147, 0.7);
            height: 75px;
        }
        .llyricText.dark{
            color: white;
            text-shadow: 1px 1px 4px rgb(255, 255, 255);
        }